<?xml version="1.0" encoding="UTF-8"?>
<extension>
    <information>
        <name>KKarousel Checker</name>
        <version>1.0</version>
        <author>fbarresi</author>
        <id>kkarouselchecker</id>
    </information>
    <menus>
        <menu type="json" dynamic="true">menu.json</menu>
    </menus>
</extension>
